@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://www.archivoexcel.com/wp-content/uploads/2013/09/BANCO-IMAGEN.png" alt="banco.png" class="img-responsive" />
</div>
