
@{
    ViewBag.Title = "Consulta de Saldo";
    if (Session["CUENTA"] == null || Session["NOMBRE"] == null)
    {
        Response.Redirect("~/Login/vLogin");
    }
}

<head>
    <style>
        #form-div {
            position: absolute;
            left: 40.5%;
            top: 33%;
            border: 1px double #ccc;
            padding: 0px 50px;
        }

        .mylabel {
            color: red;
        }
    </style>
</head>

<div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>@ViewBag.Title</h1>
    </div>
    <br /> <br /> <br />
    <div class="container">
        <input id="btn" name="btn" type="submit" value="Atras" class="btn btn-lg btn-warning" />
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm("consultar", "ConsultarSaldo", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="Nombre">Saldo en su Cuenta:</label>
                        <label for="Saldo" id="saldo">@ViewData["saldo"]</label>
                        <br />
                        <input id="btn" name="btn" type="submit" value="Consultar" class="btn btn-lg btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>